altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
coloredlogs
flatbuffers
gitdb
GitPython
humanfriendly
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mpmath
numpy
onnxruntime
opencv-python-headless
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit==1.29.0
sympy
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
zipp
typing
watchdog