anyio
numpy
onnxruntime
opencv-python-headless
packaging
pillow
protobuf
pydantic
pydantic_core
python-multipart
sniffio
starlette
sympy
typing_extensions
uvicorn
annotated-types
click
coloredlogs
exceptiongroup
fastapi
flatbuffers
h11
humanfriendly
idna
mpmath
gunicorn
-e .